<div class="options-table-shell">
  <table class="options-table">
    <caption class="sr-only">Command options and usage examples</caption>
    <thead>
      <tr class="options-table-head-row">
        <th scope="col" class="options-table-head-cell">Flag/Option</th>
        <th scope="col" class="options-table-head-cell">Description</th>
        <th scope="col" class="options-table-head-cell">Usage Example</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let option of options; trackBy: trackByOption"
        class="options-table-row"
      >
        <td class="options-table-cell options-table-flag">
          {{ option.label || $any(option).option || '-' }}
        </td>
        <td class="options-table-cell options-table-description">
          {{ option.desc || $any(option).description || '-' }}
        </td>
        <td class="options-table-cell options-table-example-cell">
          <span class="options-table-example">{{ option.usage_example || option.cmd || '-' }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
